<%- include('../includes/head.ejs') %>
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/orders.css">
=======
>>>>>>> 4d7a7b339d1f0415ad997f4451a05ab0fea29825
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>`
<<<<<<< HEAD
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order.id %></h1>
                            <ul class="orders__products">
                                <% order.products.forEach(product => { %>
                                    <li class="orders__products-item"><%= product.title %> (<%= product.orderItem.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
=======
            <h1>Nothing there!</h1>
>>>>>>> 4d7a7b339d1f0415ad997f4451a05ab0fea29825
        </main>
        <%- include('../includes/end.ejs') %>